# Cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# GNU Gettext
/po/*.gmo

# Doxygen
/doxygen/html
/doxygen/Doxyfile
/doxygen/*.tmp

# Misc
*.a
/src/madeline2
/config.h
